<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shopping is MORE FUN - Kentaka">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acc20ec783.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style-index.css">
    <link rel="stylesheet" href="style/style-account.css">
    <title>Account - Home</title>
</head>

<body>
<div class="meny">
    <div class="container">
        <nav class="meny-body-top">
            <ul class="sec-1 d-flex">
                <li class="nav">ENG<i class="fa-solid fa-chevron-down"></i></i>
                    <ul class="drop-down">
                        <li class="dp-item"><a href="#">English</a></li>
                        <li class="dp-item"><a href="#">Svenska</a></li>
                    </ul>
                </li>
        
                <li class="nav">EUR<i class="fa-solid fa-chevron-down"></i></i>
                    <ul class="drop-down">
                        <li class="dp-item"><a href="#">EUR</a></li>
                        <li class="dp-item"><a href="#">SEK</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="sec-2">
                <a href="#">Newsletter</a>
                <a href="#">Contact Us</a>
                <a href="#">FAQs</a>
                <a id="socials" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a id="socials" href="#"><i class="fa-brands fa-twitter"></i></a>
                <a id="socials" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a id="socials" href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                <a id="socials" href="#"><i class="fa-brands fa-youtube"></i></a>
            </ul>
        </nav>
    </div>
</div>


<div class="meny-middle">
    <div class="container">
        <menu class="meny-body-middle">
            <section class="sec-3">
                <img src="content/z-kentaka-logo.svg" alt="kentaka logo">
            </section>
            <div class="sec-1">
                <input type="text" placeholder="Search products...">
                <button class="nav-button" type="submit" value="Subscribe"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        
            <ul class="sec-2">
                <a href="account.html"><i class="fa-regular fa-user"></i> My Account</a>
                <a href="account.html"><i class="fa-regular fa-heart"></i></a>
                <a href="account.html"><i class="fa-solid fa-shuffle"></i><span id="counter-1">0</span></a>
                <a href="account.html"><i class="fa-solid fa-bag-shopping"></i><span id="counter-2">0</span></a>
                <a href="account.html">€1337.69</a>
            </ul>
        </menu>
    </div>
</div>

<div class="meny-bottom">
    <div class="container">
        <menu class="meny-body-bottom">
            <ul class="sec-1">
                <li class="nav"><i class="fa-solid fa-bars"></i>Browse Categories<i class="fa-solid fa-chevron-down"></i>
                    <ul class="drop-down">
                        <li class="dp-item"><a href="#">Shoes</a></li>
                        <li class="dp-item"><a href="#">Hats</a></li>
                        <li class="dp-item"><a href="#">Sunglasses</a></li>
                        <li class="dp-item"><a href="#">Shirts</a></li>
                    </ul></li>
            </ul>
            <ul class="sec-2">
                <li><a class="bottom-link" href="#">Special offer</a></li>
            </ul>
        </menu>
    </div>
</div>





<div class="navigation-container">
    <div class="container">
        <div class="navigation-container-body">
            <div class="navigation-menu-title">
                <h1 class="title">My Account</h1>
            </div>
            <ul class="breadcrumb">
                <li class="active"><a href="index.html">Home</a></li>
                <li>Account</li>
            </ul>
        </div>
    </div>
</div>



<div class="account-grid form-theme">
    <div class="container">
        <div class="card">
            <form id="login-form">
                <h2>LOGIN</h2>
                <label for="name">Email Address<span class="required">*</span></label>
                <input type="text" name="uname" id="name">
                <label for="password">Password<span class="required">*</span></label>
                <input type="password" name="pword" id="password">
                <button type="submit">LOG IN</button>

                <div class="login-content">
                    <div class="remember-content">
                        <input class="remember-me-checkbox" type="checkbox" id="remember">
                        <label class="checkbox-label"for="remember">Remember me?</label>
                    </div>
                    <div class="lost-password">
                        <a href="#">Lost your password?</a>
                    </div>
                </div>
                <div class="divider"><hr><h6>or login with</h6></div>
                <div class="external-logins">
                    <a href="#" class="external-login-button"><img src="content/z-login-facebook.svg">Facebook</a>
                    <a href="#" class="external-login-button"><img src="content/z-login-google.svg">Google </a>
                </div> 
            </form>
        </div>
        <div class="card">
            <form id="login-form">
                <h2>REGISTER</h2>
                <p class="info-text">Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</p>
                <label for="Firstname1">Firstname<span class="required">*</span></label>
                <input type="text" name="Firstname1" id="Firstname1">

                <label for="Lastname1">Lastname<span class="required">*</span></label>
                <input type="Lastname" name="Lastname1" id="Lastname1">
                
                <label for="uname1">Email Address<span class="required">*</span></label>
                <input type="text" name="uname1" id="uname1">

                <label for="password1">Password<span class="required">*</span></label>
                <input type="password1" name="pword" id="password1">
                <p class="info-text-tos">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy.</a></p>
                <button type="submit">REGISTER</button>
            </form>
        </div>
    </div>
</div>

<div class="footer-bottom  d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="footer-bottom-title">
            <span>&#xA9; Copyright 2022 Kenkata</span>
        </div>
    </div>
</div>
</div>
</body>