<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acc20ec783.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style-index.css">
    <title>Kentaka - Home</title>
</head>
<body>
        <nav class="top">
            <ul class="sec-1">
                    <li>ENG&nbsp;<i class="fa-solid fa-caret-down"></i></li>
                    <li>EUR&nbsp;<i class="fa-solid fa-caret-down"></i></li>
            </ul>
            <ul class="sec-2">
                    <li>Newsletter</li>
                    <li>Contact Us</li>
                    <li>FAQs</li>
            </ul>
        </nav>
        <menu class="middle">
            <section class="sec-3">
                <img src="z-kentaka-logo.svg" alt="kentaka logo">
            </section>
            <section class="sec-1">
                <input id="nav-search" type="search" placeholder="Search products...">
                <div class="btn">
					<i class="fas fa-search"></i>
				</div>
            </section>
            <ul class="sec-2">
                <li><i class="fa-solid fa-user"></i> My Account</li>
                <li><i class="fa-solid fa-heart"></i></li>
                <li><i class="fa-solid fa-shuffle"></i><span id="counter-1">0</span></li>
                <li><i class="fa-solid fa-bag-shopping"></i><span id="counter-2">0</span></li>
                <li>€0.00</li>
            </ul>
        </menu>
        <menu class="bottom">
            <ul class="sec-1">
                <li><i class="fa-solid fa-bars"></i>&nbsp;Browse Categories&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i></li>
            </ul>
            <ul class="sec-2">
                <li>Special offer</li>
            </ul>
        </menu>


        <div class="container">
            <div class="inner-container">
                <h1>Shopping is <br> MORE FUN</h1>
                <span>
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed
                </span>
                <div class="bt">shop now</div>
            </div>
            <div class="third-container">
                <img src="#" alt="style" >
            </div>
        </div>
   
</body>
</html>
