<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shopping is MORE FUN - Kentaka">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acc20ec783.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style-index.css">
    <title>Kentaka - Home</title>
</head>
<body>
        <nav class="top">
            <ul class="sec-1">
                    <li>ENG&nbsp;<i class="fa-solid fa-caret-down"></i></li>
                    <li>EUR&nbsp;<i class="fa-solid fa-caret-down"></i></li>
            </ul>
            <ul class="sec-2">
                    <li>Newsletter</li>
                    <li>Contact Us</li>
                    <li>FAQs</li>
                    <li id="socials"><i class="fa-brands fa-facebook-f"></i></li>
                    <li id="socials"><i class="fa-brands fa-twitter"></i></li>
                    <li id="socials"><i class="fa-brands fa-instagram"></i></li>
                    <li id="socials"><i class="fa-brands fa-pinterest-p"></i></li>
                    <li id="socials"><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </nav>
        <menu class="middle">
            <section class="sec-3">
                <img src="z-kentaka-logo.svg" alt="kentaka logo">
            </section>
            <section class="sec-1">
                <input id="nav-search" type="search" placeholder="Search products...">
                <div class="btn">
					<i class="fas fa-search"></i>
				</div>
            </section>
            <ul class="sec-2">
                <li><i class="fa-solid fa-user"></i> My Account</li>
                <li><i class="fa-solid fa-heart"></i></li>
                <li><i class="fa-solid fa-shuffle"></i><span id="counter-1">0</span></li>
                <li><i class="fa-solid fa-bag-shopping"></i><span id="counter-2">0</span></li>
                <li>€0.00</li>
            </ul>
        </menu>
        <menu class="bottom">
            <ul class="sec-1">
                <li><i class="fa-solid fa-bars"></i>&nbsp;Browse Categories&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i></li>
            </ul>
            <ul class="sec-2">
                <li>Special offer</li>
            </ul>
        </menu>
        <div class="container">
            <div class="text-container">
                <h1 class="hero-text">Shopping is <strong>MORE FUN</strong></h1>
                <span>
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed
                </span>
                <a href="#">shop now</a>
            </div>
                <img src="z-model.svg">
        </div>



        <div class="info-boxes">
            <div class="infobox">
                <img class="infobox-img" src="z-info-box.svg" alt="box">
                <div class="infobox-content">
                    <h2>Free Shipping</h2>
                    <span>For a local customer, we provide free shipping facility</span>
                </div>
            </div>
            <div class="infobox">
                <img class="infobox-img" src="z-info-clock.svg" alt="clock">
                <div class="infobox-content">
                    <h2>24/7 support</h2>
                    <span>For any inquiry, we are available 24 hours every day</span>
                </div>
            </div>
            <div class="infobox">
                <img src="z-info-payment.svg" alt="online payment">
                <div class="infobox-content">
                    <h2>Online payment</h2>
                    <span>You can pay quickly and easily with our online payment system</span>
                </div>

            </div>
            <div class="infobox">
                <img src="z-info-delivery.svg" alt="fast delivery">
                <div class="infobox-content">
                    <h2>Fast delivery</h2>
                    <span>We understand your urgency and we deliver in a fast way</span>
                </div>

            </div>
        </div>
        
        <div class="cat">
            <div class="cat-text">
                <h2>SHOP BY <strong class="mark">CATEGORY</strong></h2>
                <img src="z-devider.svg" alt="devider">
                <h3>We always try to give you the best product within a fast and reliable way</h3>
            </div>
        </div>

            <div class="grid-items">
                <div id="men" class="grid-item"><div class="grid-item-text">Men<span>0 Products</span></div></div>
                <div id="woman" class="grid-item"><div class="grid-item-text">Women<span>1111 Products</span></div></div>
                <div id="kids" class="grid-item"><div class="grid-item-text">Kids<span>2323 Products</span></div></div>
                <div id="shoes" class="grid-item"><div class="grid-item-text">Shoes<span>3333 Products</span></div></div>
                <div id="hats" class="grid-item"><div class="grid-item-text">Hats<span>69 Products</span></div></div>
                <div id="sunglasses" class="grid-item"><div class="grid-item-text">Sunglasses<span>1 Products</span></div></div>
                <div id="watches" class="grid-item"><div class="grid-item-text">Watches<span>69 Products</span></div></div>
            </div>

            <div class="cat">
                <div class="cat-text">
                    <h2>NEW <strong class="mark">ARRIVALS</strong></h2>
                    <img src="z-devider.svg" alt="devider">
                    <h3>Check out our latest products from top fashion designers</h3>
                </div>
            </div>
</body>
</html>
