@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    display: flex;
    background-color: #20D3C2;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}
  .top li {
    list-style: none;
    font-family: 'Roboto', Courier, monospace;
    font-size: 16px;
    padding: 0 15px;
    color: white;
  }

.top .sec-1{
    display: flex;
}

.top .sec-2{
    display: flex;
}

.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b6b6b6; 
    padding:0px;
    margin:0px;
    height: 100px;
}
  .middle li {
    list-style: none;
    font-family: 'Roboto', Courier, monospace;
    font-size: 16px;
    padding: 0 5px;
    color: black;

  }

.middle .sec-1{
    display: flex;
}

.middle .sec-1 #nav-search{
    padding: 10px 100px;
    border-radius: 50px;
    border: 1px solid #b6b6b6;
}

.middle .sec-2{
    display: flex;
}

.middle .sec-2 #counter-1{
    top: 72px;
    right: 242px;
    padding: 1px 5px;
    background-color: #20D3C2;
    border-radius: 50px;
    color: white;
    font-size: 12px;
}

.middle .sec-2 #counter-2{
    padding: 1px 5px;
    background-color: #20D3C2;
    border-radius: 50px;
    color: white;
    font-size: 12px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0px;
    margin:0px;
    height: 40px;
}
  .bottom li {
    list-style: none;
    font-family: 'Roboto', Courier, monospace;
    font-size: 16px;
    padding: 0 5px;
    color: black;

  }

.bottom .sec-1{
    display: flex;
    background-color: #20D3C2;
    text-align: center;
    padding: 11px 0px;
    margin:0px;
}
.bottom .sec-1 li{
    color: white;
}

.bottom .sec-2{
    display: flex;
    background-color: #20D3C2;
    border-radius: 50px;
    margin:0px;
    padding:4px 10px;
    text-align: center;
    color: white;
}
.bottom .sec-2 li{
    color: white;
    text-transform: uppercase;
}



/*container*/
.container{
    height: 600px;
    background-color: #EEEEEE;
}
.inner-container{

}




