@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root{
--font-play: 'Play', sans-serif;
--font-roboto: 'Roboto', sans-serif;

--color-theme: #20D3C2;
--color-theme-light: #EDFCFA;
--color-theme-dark: #0E153D;
--color-dark: #080c24;
--color-gray-0: #AAAAAA;
--color-gray-1: #CCCCCC;
--color-gray-3: #EEEEEE;
--color-gray-4: #F6F6F6;
--color-gray-5: #E3E3E3;
--color-product-instock: #82D8c6;
--color-product-outofstock: #FE6C6C;

--font-size-14: 19px;
--font-size-16: 21px;
--font-size-24: 32px;
--font-size-36: 48px;
--font-size-60: 80px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.fa-cart-shopping { font-size: 15px; }
strong {background-color: transparent !important; }

.btn{
    display: block;
    font-family: var(--font-roboto);
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-theme);
    background-color: white;
    border-radius: 50px;
    margin-top: 2.5em;
    padding: 10px 10px;
    text-align: center;
    transition: all .2s;
}
    .btn:hover{
        color: var(--color-theme-dark);
        background-color: var(--color-theme);
    }

.meny{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var();
    background-color: var(--color-theme);
}

.meny-body-top .sec-1, .sec-2 .meny-body-middle .sec-1, .sec-2,
.meny-body-bottom .sec-1, .sec-2 .meny-body-top a, .meny-body-top .sec-1 .nav:first-child{ 
    padding:0;
    margin: 0;
}

.top .sec-1 .nav:hover, .sec-2 a:hover, li:hover, .sec-1 .nav .drop-down .dp-item:hover a{
    color: var(--color-theme-dark);
    transition: .2s;
}


.meny-body-top, .meny-body-top .sec-2 a, .meny-body-middle, .meny-body-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.meny .meny-body-top .sec-1 .nav {
    display: flex;
    align-items: center;
}

    .meny .meny-body-top .sec-1 .nav i{
        margin-left: 5px;
    }

    .meny-body-top a, .meny-body-top .sec-1 .nav{
        list-style: none;
        text-decoration: none;
        font-family: var(--font-roboto);
        font-size: var(--font-size-16);
        margin: 0 1.5rem;
        color: white;
    }

    .meny-body-top .sec-1 .drop-down{
        position: absolute;
        background: var(--color-theme);
        top: 33px;
        list-style: none;
        border-radius: 5px;
        pointer-events: none;
        transition: all 0.2s ease;
        padding: 0px;
        opacity: 0;
    }

        .meny-body-top .nav {
            list-style: none;
            font-family: var(--font-roboto);
            font-size: var(--font-size-16);
            color: black;
            margin-right: 90px;
            cursor: pointer;
        }
        .meny-body-top .sec-1 .nav:hover .drop-down{
            opacity: 1;
            pointer-events: all;
        }

        .meny-body-top .sec-2 #socials {
            margin: 7px 7px;
            padding: 0;
        }

        .meny-body-top .sec-2 a {
            margin-right: 30px;
        }

        .meny-body-top .sec-2 #socials:last-child, .meny-body-top .sec-2 li:first-child{
            margin: 0;
        }

            .meny-body-top .sec-1, .meny-body-top .sec-1 .nav{
                padding: 0;
            }

.meny-middle {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6b6b6; 
    height: 100px;
}
    .meny-middle a {
        list-style: none;
        font-family: var(--font-roboto);
        font-size: var(--font-size-16);
        padding: 0 5px;
        color: black;
        text-decoration: none;
    }
        .meny-middle a:hover {
            color: var(--color-theme);
            transition: .2s;
        }

        .meny-middle .sec-2 a, .meny-body-bottom .sec-1 input{
            position: relative;
        } 

        .meny-middle .meny-body-middle .sec-1{
            max-width: 696px;
            width: 100%;
        }

        .meny-middle .sec-1 input{
            background-color: white;
            padding: 11px 46px;
            border-radius: 50px;
            border: 1px solid var(--color-gray-1);
            outline: none;
        }

            .meny-middle .sec-1 .nav-button{
                font-family: var(--font-roboto);
                background-color: var(--color-theme);
                font-size: var(--font-size-16);
                color: white;
                position: absolute;
                right: 0px;
                height: 100%;
                width: 50px;
                border: none;
                cursor: pointer;
                border-radius: 0 25px 25px 0;
                transition: all .2s;
            }
        
            .meny-middle .sec-1 button:hover{
                background-color: #168b80;
            }

        
        .meny-middle .sec-1 input[type="text"], .container-footer .email input[type="text"], 
        .meny-middle .sec-1 input::placeholder, .container-footer .email input::placeholder{
            font-family: var(--font-roboto);
            font-size: var(--font-size-14);
            color: var(--color-gray-0);
        }

        .container-footer .email input:focus, .account-grid #login-form input:focus{
            outline: 1px solid var(--color-theme);
        }

        .meny-middle .sec-1 input:focus{
            border: 1px solid var(--color-theme)
        }

    
        .meny-middle .sec-2 #counter-1{
            position: absolute;
            top: -8px;
            left: 12px;
            padding: 1px 5px;
            background-color: var(--color-theme);
            border-radius: 50px;
            color: white;
            font-size: 12px;
        }

        .meny-middle .sec-2 #counter-2{
            position: absolute;
            left: 12px;
            top: -7px;
            padding: 1px 5px;
            background-color: var(--color-theme);
            border-radius: 50px;
            color: white;
            font-size: 12px;
        }


        
.meny-bottom .sec-1{
    background-color: var(--color-theme);
    padding: 9px 0px;
    position: relative;
}

.meny-bottom li {
    list-style: none;
    font-family: var(--font-roboto);
    font-size: var(--font-size-16)px;
    color: black;

}

.meny-bottom .sec-1 .nav{
    display: flex;
    align-items: center;
}

.meny-bottom .sec-1 .nav{
    color: white;
}

    .meny-bottom .sec-1 li i:first-child{
        margin: 0px 10px;
    }

    .meny-bottom .sec-1 li i:nth-child(2){
        margin: 0 5px 0 90px;
    }

    .meny-bottom .sec-2 .bottom-link{
        display: flex;
        cursor: pointer;
        background-color: var(--color-theme);
        border-radius: 50px;
        margin: 0px;
        padding: 4px 10px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s;
        font-weight: 500;
    }

    .meny-bottom .sec-2 .bottom-link:hover{
        background-color: #129487;
        color: #1cc4b3;
    }

        .meny-body-bottom .sec-1 .drop-down{
            position: absolute;
            background: var(--color-theme);
            top: 50px;
            list-style: none;
            border-radius: 5px;
            pointer-events: none;
            transition: all 0.2s ease;
            padding: 0px;
            opacity: 0;
            width: 100%;
        }

            .meny-body-bottom .sec-1 .nav .drop-down .dp-item a{
                cursor: pointer;
                color: white;
                text-decoration: none;
            }

                .meny-body-bottom .sec-1 .nav .drop-down .dp-item:hover a{
                    cursor: pointer;
                    color: var(--color-theme-dark);
                    text-decoration: none;
                }

                .meny-body-bottom .sec-1 .nav .drop-down .dp-item:first-child{
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                    margin: 20px 0px 10px 10px;
                }

                .meny-body-bottom .sec-1 .nav .drop-down .dp-item{
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                    margin: 10px 0px 10px 10px;
                    width: 100%;
                }

                .meny-body-bottom .nav {
                    list-style: none;
                    font-family: var(--font-roboto);
                    font-size: var(--font-size-16);
                    color: black;
                    cursor: pointer;
                }

                    .meny-body-bottom .sec-1:hover .nav .drop-down{
                        opacity: 1;
                        pointer-events: all;
                    }

.container-home{
    background-color: var(--color-gray-3);;  
}
    .hero-text{
        font-family: var(--font-play);
        font-weight: 500;
        color: var(--color-theme-dark);
        font-size: 80px;
    }

    .hero-text strong{
        color: var(--color-theme)
    }
    .text-container{
        flex-basis: 35%;
    }

        .text-container span{
            font-family: var(--font-roboto);
            font-size: var(--font-size-16);
            color:var(--color-theme-dark);
        }

        .container-home img{
            max-height: 600px;
        }


.info-boxes{
    display: flex;
    margin-top: 100px;
}

.infobox{
    display: flex;
    background-color: rgba(32, 211, 194, 0.2);
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin: 0 2rem;
    cursor: pointer;
    transition: all .2s;
}

    .infobox:hover{
        background-color: var(--color-theme);
    }

    .infobox img{
        margin-right: 1.5rem;
    }
    .infobox:hover img{
        filter:  sepia(100%) brightness(1000%);
    }

    .infobox h2{
        font-family: var(--font-roboto);
        font-size: var(--font-size-16);
        color:var(--color-theme)
    }

    .info-boxes .infobox:hover h2{
        color:white;
    }

        .infobox span{
            font-family: var(--font-roboto);
            font-size: var(--font-size-16);
            color:var(--color-theme-dark)
        }

        .infobox:hover span{
            color:white;
        }

        .infobox-dark span{
            font-family: var(--font-roboto);
            font-size: var(--font-size-16);
            color:white;
        }

.cat{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem 0;
}

    .cat h2{
        font-family: var(--font-play);
        font-size: var(--font-size-36);
        color:var(--color-theme-dark);
        font-weight: 700;
    }
    .cat h3{
        font-family:var(--font-roboto);
        font-size: var(--font-size-16);
        color:var(--color-theme-dark);
        font-weight: 500;
    }
        .cat h2 .mark{
            font-family: var(--font-play);
            font-size: var(--font-size-36);
            color: var(--color-theme);
            font-weight: 700;
        }


.grid-items{
    display: grid;
    grid-template-columns: repeat(5, 214px) ;
    grid-template-rows: repeat(3, 214px);
    gap: 1.5rem;
    justify-content: center;
}

    #man { grid-area: 1 / 1 / 2 / 2; }
    #woman { grid-area: 1 / 2 / 2 / 4; }
    #kids { grid-area: 1 / 4 / 3 / 6; }
    #shoes { grid-area: 2 / 1 / 4 / 3; }
    #hats { grid-area: 2 / 3 / 3 / 4; }
    #sunglasses { grid-area: 3 / 3 / 4 / 5; }
    #wathces { grid-area: 3 / 5 / 4 / 6; }

    .grid-item {
        position: relative;
        background-color: var(--color-gray-1);
        border-radius: 5px;
        overflow: hidden;
    }
        .grid-item .grid-item-text{
            position: absolute;
            left: 0px;
            bottom: -35px;
            font-family: var(--font-roboto);
            border-radius: 0 4px 0 0;
            font-size: var(--font-size-16);
            color: var(--color-theme);
            background-color: #0e153dbe;
            width: 50%;
            padding: 10px 0px 15px 10px;
            transition: .6s cubic-bezier(0.561, 0.039, 0, 1.009);
        }

            .grid-item:hover .grid-item-text{
                bottom: 0px;
            }

            .grid-item .grid-item-text span{
                display: block;
                font-family: var(--font-roboto);
                border-radius: 0 4px 0 0;
                font-size: 0.9rem;
                color: white;
                margin-top: 0.2rem;
            }


.arrivals-grid{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(1, 400px);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 5rem;
}
    .arrivals-grid-item{
        position: relative;
        background-color: var(--color-gray-3);
        border-radius: 5px;
        overflow: hidden;
    }

    .arrivals-title{
        z-index: 2;
        display: flex;
        align-items: center;
        margin-left: 25px;
        font-family: var(--font-roboto);
        border-radius: 0 4px 0 0;
        font-size: var(--font-size-18);
        color: white;
    }

    .arrivals-info, .arrivals-info-sellers{
        position: absolute;
        font-family: var(--font-roboto);
        color: white;
        top: 100%;
        margin: 10px 20px;
        bottom: 0px;
        transition: all .2s ease-in-out;
    }
        .arrivals-info h3,h4,p .arrivals-info-sellers h3, h4, p{
            margin: 4px;
        }

        .arrivals-info-sellers h3, h4, p{
            margin: 4px;
        }

        .arrivals-info .arrivlas-price-1, .arrivals-info-sellers .arrivlas-price-1{
            font-size: var(--font-size-16);
            color: white;
            text-decoration: line-through;
        }
        
        .arrivals-info .arrivlas-price-2, .arrivals-info-sellers .arrivlas-price-2{
            font-size: var(--font-size-24);
            color: var(--color-theme)
        }
        .arrivals-info h3, .arrivals-info-sellers h3{
            font-size: 22px;
            font-weight: 400;
        }
        .arrivals-info h4, .arrivals-info-sellers h4{
            font-size: 16px;
            border: 1px solid white;
            padding: 1px 2px;
            width: 58px;
            font-weight: 400;
        }

        .arrivals-grid-item:hover .arrivals-background{
            opacity: 85%;
            width: 100%;
            height: 100%;
            background-color: var(--color-theme-dark);
            transition: all 0.2s ease-in-out;
        }
        .arrivals-grid-item:hover .arrivals-title{
            display: none;
        }
        .arrivals-grid-item:hover .arrivals-menu{
            top: 10px;
        }
        .arrivals-grid-item:hover .arrivals-info{
            top: 60%;
        }
        .arrivals-grid-item:hover .arrivals-rank{
            top: 84%;
        }
        .arrivals-grid-item:hover .arrivals-info-sellers{
            top: 50%;
        }
        .arrivals-grid-item:hover .arrivals-rank-sellers{
            top: 84%;
        }

        .arrivals-background{
            display: flex;
            position: absolute;
            opacity: 100%;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 51px;
            background-color: var(--color-theme-dark);
        }

        .arrivals-menu{
            list-style: none;
            z-index: 2;
            position: absolute;
            right: 20px;
            top: 100%;
            background-color: white;
            border: 1px solid var(--color-gray-3);
            border-radius: 50px;
            padding: 0.7rem;
            color: var(--color-gray-0);
            transition: top .2s ease-in-out;
        }

        .arrivals-rank, .arrivals-rank-sellers{
            display: flex;
            list-style: none;
            z-index: 2;
            position: absolute;
            right: 10px;
            top: 100%;
            margin-left: 10px;
            color: var(--color-theme);
            transition: top .2s ease-in-out;
        }

        .arrivals-rank li{
            margin-left: 1px;
        }

        .arrivals-grid-item .img-big{
            height: 400px;
            width: auto;
        }

        .arrivals-menu .tooltiptext {
            position: absolute;
            visibility: hidden;
            font-family: var(--font-roboto);
            font-size: var(--font-size-14);
            width: 150px;
            background-color: var(--color-theme);
            color: white;
            text-align: center;
            border-radius: 4px;
            padding: 2px 5px;
            z-index: 3;
            top: -5px;
            right: 195%;
        }
      
        .arrivals-menu .tooltiptext::after {
            content: "";
            color: var(--color-theme);
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent #82D8c6;
        }

            .arrivals-menu li:hover .tooltiptext {
                visibility: visible;
            }

            .arrivals-menu li{
                position: relative;
                margin-bottom: 10px;
            }

            .arrivals-menu li a{
                color: var(--color-gray-0);
            }
            .arrivals-menu {
                color: var(--color-theme)
            }
            
            .arrivals-menu li:hover i{
                color: var(--color-theme)
            }

            .arrivals-menu li:hover .outofstock{
            color: var(--color-product-outofstock)
            }

            .arrivals-menu li:hover .instock{
                color: var(--color-product-instock)
            }
            .arrivals-menu .instock{
                color: var(--color-product-instock);
            }
            .arrivals-menu .outofstock{
                color: var(--color-product-outofstock);
            }

                .arrivals-menu li:last-child{
                    margin-bottom: 0px;
                }

            #arrivals-1{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            #arrivals-2{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            #arrivals-3{
                grid-column: 3 / 3;
                grid-row: 1 / 2;
            }


.container-two{
    height: 418px;
    background-color: var(--color-gray-1);
}

    .container-two .new-customer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 418px;
        width: 255px;
        background-color: var(--color-theme);
    }

    .container-two .new-customer h1, .countdown-titles h1{
        font-family: var(--font-play);
        font-size: var(--font-size-60);
        font-weight: 700;
        color: white;
        text-align: center;
        margin: 10px 10px;
    }

    .countdown-titles h1{
        font-size: 68px;
        line-height: 64px;
        margin: 20px;
    }
        .container-two h1 .h1span{
            font-family: var(--font-play);
            font-size:var(--font-size-36);
            color: white;
        }

        .container-two .new-customer span, .countdown-titles span{
            font-family: var(--font-roboto);
            font-size:var(--font-size-16);
            color: white;
            text-align: center;
        }

        .container-two .new-customer .btn-dark{
            font-family: var(--font-roboto);
            margin: 0 auto;
            display: block;
            width: 150px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            color: white;
            background-color: var(--color-theme-dark);
            border-radius: 50px;
            margin: 2.5em;
            padding: 10px 10px;
            text-align: center;
            transition: all .2s;
        }

        .container-two .btn-dark:hover{
            color: var(--color-theme);
            background-color: #15205c;
        }

        .container-two .learn-more{
            width: 445px;
        }

        .container-two .learn-more span{
            font-family: var(--font-roboto);
            font-size:var(--font-size-14);
            color: white;
            font-weight: 400;
        }

        .second{
            height: 265px;
            font-size: var(--font-size-24);
        }

.container-two-dark{
    display: flex;
    justify-content: center;
    height: 435px;
    background-color: #0E153D;
    opacity: 85%;
    overflow: hidden;
}

.container-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


    .counter-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .countdown{
        display: flex;
        align-items: center;
        align-self: center;
        gap: 1.5rem;
        margin: 2rem;
    }

    .countdown .counter{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        outline: dotted 3px var(--color-theme);
        border-radius: 50%;
        width: 109px;
        height: 109px;
    }

    .container-two-dark .btn-banner{
        font-family: var(--font-roboto);
        text-transform: uppercase;
        text-decoration: none;
        width: 130px;
        font-weight: 500;
        font-size: 18px;
        color: var(--color-theme);
        background-color: white;
        border-radius: 50px;
        padding: 10px 10px;
        text-align: center;
        transition: all .2s;
    }

        .container-two-dark .btn-banner:hover{
            color: white;
            background-color: var(--color-theme)
        }

        .countdown-titles {
            display: flex;
            flex-direction: column;
            align-self: start;
            max-width: 255px;
            background-color: var(--color-theme);
            padding: 2rem 0;
        }

        .countdown .counter h4{
            font-family: var(--font-play);
            font-size: var(--font-size-36);
            color: var(--color-theme);
            font-weight: 700;
        }

        .countdown .counter p{
            font-family: var(--font-roboto);
            font-size: var(--font-size-16);
            color: var(--color-theme-dark);
            font-weight: 400;
            margin: -7px;
        }

            
.arrivals-grid-top-sellers{
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: repeat(2, 345px);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 5rem;
}      
 
#arrivals-grid-top-sellers1 { grid-area: 1 / 1 / 3 / 2; }
#arrivals-grid-top-sellers2 { grid-area: 1 / 2 / 2 / 3; }
#arrivals-grid-top-sellers3 { grid-area: 2 / 2 / 3 / 3; }

.container-footer{
    display: flex;
    height: 313px;
    background-color: var(--color-gray-4);
}

    .container-footer .section1{
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
    }

    .container-footer .section1 h3{
        font-family: var(--font-play);
        font-size: var(--font-size-36);
        font-weight: 700;
        color: var(--color-theme-dark);
        margin: 0.8rem 0 0 0;
    }
    .section1 h3 span{
        font-family: var(--font-play);
        font-size: var(--font-size-36);
        font-weight: 700;
        color: var(--color-theme)
    }

    .section1 span{
        font-family: var(--font-roboto);
        color: var(--color-theme-dark);
        font-size: var(--font-size-16);
        margin-bottom: 1rem;
    }

    .section1 input{
        display: flex;
        width: 100%;
        background-color: white;
        border: 1px solid #E3E3E3;
        padding: 15px 40px;
        border-radius: 50px;
    }
    
    .section1 .email{
        position: relative;
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;

    }
    .section1 .email button{
        font-family: var(--font-roboto);
        background-color: var(--color-theme);
        font-size: var(--font-size-16);
        color: white;
        position: absolute;
        right: 5px;
        padding: 10px 17px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all .2s;
    }

        .email button:hover{
            background-color: #168b80;
        }


.container-footer .section2{
    background-color: var(--color-gray-1);
    color: transparent;
    width: 540px;
    height: 313px ;
}


.footer-bottom{
    height: 80px;
    background-color: var(--color-dark);
}

    .footer-bottom-title{
        font-family: var(--font-roboto);
        font-size: var(--font-size-16);
        color: white;
        font-weight: 400;
    }




    
@media (max-width: 1250px){

    .grid-items {
        display: grid;
        grid-template-columns: 380px;
        grid-template-rows: repeat(7, 240px);
        gap: 1rem;
    }
    
    #man { grid-area: 1 / 1 / 2 / 2; }
    #woman { grid-area: 2 / 1 / 3 / 2; }
    #kids { grid-area: 3 / 1 / 4 / 2; }
    #shoes { grid-area: 4 / 1 / 5 / 2; }
    #hats { grid-area: 5 / 1 / 6 / 2; }
    #sunglasses { grid-area: 6 / 1 / 7 / 2; }
    #watches { grid-area: 7 / 1 / 8 / 2; }

.arrivals-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.arrivals-grid-top-sellers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.arrivals-grid-item{
    margin: 0 2rem;
}

#arrivals-grid-top-sellers1 { grid-area: 1 / 1 / 2 / 2; }
#arrivals-grid-top-sellers2 { grid-area: 2 / 1 / 3 / 2; }
#arrivals-grid-top-sellers3 { grid-area: 3 / 1 / 4 / 2; }
}

@media (max-width:1024px){
.meny-middle .meny-body-middle .sec-1{
    max-width: none;
    width: auto;
}

.meny-middle .sec-3 img {
    display: none;
}


.text-container{
    text-align: center;
}

.btn{
    margin: 1rem auto;
}

.img-container img, .container-footer .section2{
    display: none;
}

.container-home-body{
    justify-content: center !important;
}

.info-boxes{
    flex-direction: column;
}
    
    .infobox{
        margin-bottom: 2rem;
    }

.container-two-dark, .container-two, .container-footer{
    height: auto;
}

    .container-two .new-customer {
        width: 100%;
        height: auto;
    }

    .container-two .learn-more {
        height: 100%;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
    }

    .countdown-titles{
        display: flex;
        flex-direction: column;
        align-self: start;
        max-width: 100%;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        max-width: 100%;
    }

    .container-body{
        display: block;
        width: 100%;
    }

    .countdown{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
    }

    .container-footer .section1{
        flex-basis: 100%;
        margin: 2rem;
    }
}




@media (max-width: 720px){
    .meny-middle .meny-body-middle .sec-1{
        max-width: none;
        width: auto;
    }

    .meny-body-top .sec-2 #socials {
        display: none;
    }

    .meny-body-top .sec-2 a {
        margin-right:5px;
    }

    .meny-body-top .sec-1 .nav {
        margin: 0 5px;
    }
    
}

@media (max-width: 480px){
    .cat-text{
        margin: 2rem;
    }
}
